$color-primary-dark: #172940;
$color-secondary-dark: #2d4666;
$color-primary-soft: #ab958b;
$color-accent: #d0d98b;
$color-background: #f2efeb;
$color-background-white: #fafafa;
$color-background-light: #fdf9f3;
